doctype html
html(lang="en")
  head
    title Hapi Setup
    link(href="/public/styles.css", rel="stylesheet")
  body
    h1 This is your hapi-setup!
    p Use this page to get a quick view of all the important configuration settings used in the currently running hapi server.
    div.configuration
      p #{runtime.execPath}
